<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("a73e6898-1502-4924-a4ca-2923a5b452cc");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
